<!-- Header Container -->
<div class="header">
  <!-- Left: Username -->
  <h1 class="username">Welcome, <%= @current_user.username %>!</h1>

  <!-- Right: Logout Button -->
  <div class="logout-button">
    <%= button_to 'Logout', logout_path, method: :delete, class: "btn-logout" %>
  </div>
</div>